<h1>Jobs</h1>
<a class="nav-link" routerLink="/jobs-add">Ajouter un job</a>
<div class="container">
  <div class="row">
    <div class="card col-lg-4 ml-0">
      <img class="card-img-top" src="holder.js/100x180/" alt="">
      <div class="card-body">
        <h4 class="card-title">Title</h4>
        <p class="card-text">Text</p>
      </div>
    </div>
    <div class="list-group col-lg-8" *ngFor="let j of job">
      <a [routerLink]="['/detail', j.id]" class="list-group-item list-group-item-action flex-column align-items-start my-2">
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{j.titre}}</h5>

      </div>
      <p class="mb-1">{{j.description}}</p>
      <small>{{j.id}}</small>
      </a>
    </div>
  </div>
</div>
