<button type="submit" (click)="incrementer()">Incrementer</button>
<div [style.background]="arriereplan">{{compteur}}</div>

<div class="card" class="mt-3">
  <div class="card-header text-white bg-info">
    <h3>Liste de produits</h3>
  </div>
  <div class="card-body">
    <table *ngIf="data && data.length" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Titre</th>
          <th>Prix unitaire</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of data">
          <td scope="row">{{p.code}}</td>
          <td><a [routerLink]="['/detail', p.code]">{{p.titre}}</a></td>
          <td>{{p.prixUnitaire | currency: 'EUR':'symbol'}}</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>

