<h1>Forum</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start my-2">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Heading</h5>
            <small>small</small>
          </div>
          <p class="mb-1">Paragraph</p>
          <small>paragraph footer</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start my-2">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Heading</h5>
            <small>small</small>
          </div>
          <p class="mb-1">Paragraph</p>
          <small>paragraph footer</small>
        </a>
        <a href="#" class="list-group-item list-group-item-action flex-column align-items-start my-2">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Heading</h5>
            <small>small</small>
          </div>
          <p class="mb-1">Paragraph</p>
          <small>paragraph footer</small>
        </a>
      </div>

    </div>
    <div class="col-lg-4 mt-2">
     <div class="card">
        <div class="card-body">
          <h4 class="card-title">Title</h4>
          <p class="card-text">Text</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Item 1</li>
          <li class="list-group-item">Item 2</li>
          <li class="list-group-item">Item 3</li>
        </ul>
      </div>

      </div>

    </div>
  </div>

