<form #f="ngForm" (ngSubmit)="addJob()">

  <div class="form-group">
    <label for="titre">Titre du job</label>
    <input type="text" class="form-control" name="titre" id="titre"
        placeholder="Titre du job" [(ngModel)]="job.titre" #titre="ngModel" required minlength="3">
    <div class="alert alert-danger" *ngIf="titre.touched && titre.invalid">
      <div *ngIf="titre.errors.required">Le titre est obligatoire</div>
      <div *ngIf="titre.errors.minlength">longueur doit etre supérieur a 3</div>
    </div>
  </div>

  <div class="form-group">
    <label for="description">Description du job</label>
    <textarea class="form-control" name="description" id="description" rows="5"
          placeholder="Description" [(ngModel)]="job.description" #description="ngModel" required></textarea>
    <div class="alert alert-danger" *ngIf="description.touched && description.invalid">La description est obligatoire</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="f.invalid"> Ajouter le job</button>
</form>
